In [1]:
#Has unique elements
l=[1,4,3,2,4,3,3,5,5,7]
set(l)

{1, 2, 3, 4, 5, 7}

In [2]:
set1={1,3,4,7,7,5}
print(set1)

{1, 3, 4, 5, 7}

In [3]:
s=set('abes')
print(s)

{'a', 'b', 's', 'e'}

## Creating empty set

In [4]:
a=set()
type(a)

set

# Accessing values of sets

-SETS are mutable ,but elements of set sare immutable
-we cannot access,change element

In [6]:
s=set()
print(s)
s.add(1)
s.add(2)
print(s)

set()
{1, 2}

In [7]:
#adding group ofelements
s.update([3,4,5,6,7])
print(s)

{1, 2, 3, 4, 5, 6, 7}

In [8]:
#remove of elements
#discard()and remove()

In [9]:
s1={1,2,3,4,5,6}
print(s1)

{1, 2, 3, 4, 5, 6}

In [14]:
##discard an element
s1.discard(8)
print(s1)

{1, 2, 4, 5, 6}

In [17]:
##remnove
s1.remove(3)

KeyError: 3

In [16]:
print(s1)

{1, 2, 4, 6}

In [18]:
s2={1,3,4,6,8}

# Python set operators

In [19]:
##Union

In [21]:
A={1,2,3,4}
B={3,4,5,6}

print(A|B)

print(A.union(B))

{1, 2, 3, 4, 5, 6}
{1, 2, 3, 4, 5, 6}

In [22]:
###intersection

In [23]:
print(A&B)

{3, 4}

In [24]:
print(A.intersection(B))

{3, 4}

In [25]:
###A-B

In [26]:
print(A-B)

print(A.difference(B))

{1, 2}
{1, 2}

In [27]:
###Set Symmetric Difference

In [28]:
print(A^B)

{1, 2, 5, 6}

In [5]:
A={1,2,3,4}
B={4,5,6,7}
print(A.difference_update(B))
print(A)

None
{1, 2, 3}

# Q2-Write python code for following operations:-

# 1.Accessing Elements of a Tuple

In [15]:
T=(1,2,"Hello","Ghaziabad","India",3,5,7)
print(T[4])     #index value
print(T[-1])    #Negetive indexing
print(T[:5])    #By Range 
print(T[1:-2])  #Negetive range

India
7
(1, 2, 'Hello', 'Ghaziabad', 'India')
(2, 'Hello', 'Ghaziabad', 'India', 3)

# 2.Modifying Elements of a tuple

- Tuples are immutable.
- We can convert the tuple into a list, change the list, and convert the list back into a tuple.

In [18]:
T=(1,2,"Hello","Ghaziabad","India",3,5,7)
y=list(T)
y[2]="Geetanjali"
print(tuple(y))

(1, 2, 'Geetanjali', 'Ghaziabad', 'India', 3, 5, 7)

# 3.Deleting Elements of a Tuple

- Tuples are immutable. i.e. you cannot remove items from it.
- The del keyword can delete the tuple completely.

In [19]:
T=(1,2,"Hello","Ghaziabad","India",3,5,7)
del T

In [20]:
print(T)

NameError: name 'T' is not defined

In [10]:
L=[]
for i in range(5):
    ele=input()
    L.append(ele)
print(L)

Honda
Mercedes
Chryslers
Toyota
BMW
['Honda', 'Mercedes', 'Chryslers', 'Toyota', 'BMW']

In [11]:
print(L)
L.insert(3,'Maruti')
print(L)

['Honda', 'Mercedes', 'Chryslers', 'Toyota', 'BMW']
['Honda', 'Mercedes', 'Chryslers', 'Maruti', 'Toyota', 'BMW']

In [12]:
L.sort()
print(L)
L.pop()
print(L)
L[1:4]
print(L)

['BMW', 'Chryslers', 'Honda', 'Maruti', 'Mercedes', 'Toyota']
['BMW', 'Chryslers', 'Honda', 'Maruti', 'Mercedes']
['BMW', 'Chryslers', 'Honda', 'Maruti', 'Mercedes']

In [6]:
tuple1=(5,1,7,6,2)
tuple1.pop(2)
print(tuple1)

AttributeError: 'tuple' object has no attribute 'pop'

In [8]:
tup1=("bobby","main","bid")
print(tup1[-3:0])

()

In [9]:
tup1=()
tup1=tup1*2
print(len(tup1))

0

In [10]:
tupl=(5,3,1,9,0)
print(tupl[:-1])
print(tupl[0:5])
print(tupl[0:4])
print(tupl[-4:])

(5, 3, 1, 9)
(5, 3, 1, 9, 0)
(5, 3, 1, 9)
(3, 1, 9, 0)

In [11]:
t1 = (5, 6, 7, 8)
t2 = (5, 6, 7, 8)
t1 < t2

False

In [12]:
my_tuple = (10, 20, 30, 40)
my_tuple.append( (50, 60, 70) )
print len(my_tuple)

SyntaxError: invalid syntax (<ipython-input-12-ca91bebb0aa4>, line 3)

In [13]:
a={1,2,{3,4}}
print(a[2][0])

TypeError: unhashable type: 'set'

In [14]:
set1={2,5,3}
set2={3,1}
set3={}
set3=set1&set2
print(set3)

{3}

In [15]:
set1 = {10, 20, 30, 40, 50}
set2 = {60, 70, 10, 30, 40, 80, 20, 50}

print(set1.issubset(set2))
print(set2.issuperset(set1))

True
True

In [16]:
s=set([1, 2, 3])
s.union([4, 5])
s|([4, 5])

TypeError: unsupported operand type(s) for |: 'set' and 'list'

In [17]:
 s1= {1, 2, 3}

s1.issubset(s1)

True

In [18]:
sets = {3, 4, 5} 
sets.update([1, 2, 3]) 
print(sets)

{1, 2, 3, 4, 5}