# WAP to check wheather a year is a leap year or not.

In [10]:
x=int(input("Enter a year: "))
if x%400==0 or x%4==0 and x%100!=0:
    print("leap year")
else:
    print("not")

Enter a year: 2024
leap year

In [11]:
#python program to convert specified days in years weeks and days.

In [ ]:
x=int(input("Enter a year: "))
#year=365days   year=52weeks   
year= x%365
days = x-365
print(year,days)

In [2]:
2%6

2

In [7]:
x=100
y=50
print(x and y)

50

In [8]:
x = 10
y = 50
if (x ** 2 > 100 and y < 100):
    print(x, y)

In [9]:
 3*1**3

3

In [11]:
a=10
b=4
print(a&b)

0

In [13]:
if 0.1+0.2==0.3:
    print("true")

In [14]:
if 1:    
    print("1 is truthy!")
else:
    print("???")

1 is truthy!

In [16]:
x = 10 / 4
y = 5 / 2.0
print(x + y)

5.0

In [1]:
#WAP to

In [2]:
n=input("Enter a string:")
s=n[::-1]
if n==s:
    print("Pallindrome")
else:
    print("not pallindrome")

Enter a string:naman
Pallindrome

In [25]:
s="awesome hello is"
l=s.split()
max=len(s[0])
for i in l:
    if len(s[i])>max:
        max=i
print(max)

TypeError: string indices must be integers

In [1]:
#delete a word from a string\
#to check if two words are anagrams

In [27]:
print("Python {1} and {0}".format('zoo', 'foo'))

Python foo and zoo

In [28]:
S='python'
S1='7000'

print(S.isdigit())
print(S1.isdigit())

False
True

In [29]:
print("abc DEF".capitalize())

Abc def

In [30]:
str = "His shirt is red"
pos = str.find("is")
print(pos)

1

In [31]:
Python = 5
print("Python" + " is " + str(Python))

TypeError: 'str' object is not callable

In [32]:
s = "ball"
r = ""
for item in s:
    r = item.upper() + r
print(r)

LLAB

# Anangrams

In [2]:
s1=input("Enter string1:")
s2=input("Enter string2:")
if(sorted(s1)== sorted(s2)): 
    print("The strings are anagrams.")  
else: 
    print("The strings aren't anagrams.")

Enter string1:rat
Enter string2:tra
The strings are anagrams.

In [ ]:
s1=input("Enter string1:")
s2=input("Enter string2:")

In [12]:
s1=input("Enter string1:")
s2=input("Enter word:")
l=s1.split()
for i in l:
    if s2==i:
        del(i)
    else:
        print(i,end=" ")

Enter string1:the lion is the king of jungle
Enter word:the
lion is king of jungle

In [16]:
txt='hello, World is?'
x=txt.find('World')
print(x)

7

In [17]:
#WAP to add a string from a given string 
s=input("Enter a string")
c=input()
str=s[0];
for i in s:
    replace(c,'$')
print(s)

Enter a stringgeetu
e

NameError: name 'replace' is not defined

In [19]:
str1="Application"
str2=str1.replace('a','A')
print(str2)

ApplicAtion

In [20]:
s = "python rocks"
print(s[7:11] * 3)

rockrockrock

In [21]:
print("Hello {name1} and {name2}".format(name1='foo', name2='bin'))

Hello foo and bin

In [22]:
print("John" > "Jhon")
print("Emma" < "Emm")

True
False

# List

In [2]:
a=list()
print(a)

[]

In [4]:
numbers=[]
for i in range(0,10):
    x=input()
    numbers.append(x)
print(numbers)
m=int(input("Enter number"))
if m in numbers:
    print("found")
else:
    print("not found")

Enter range4
1
2
3
4
['1', '2', '3', '4']
Enter number3
not found

In [1]:
numbers=[]
n=int(input())
for i in range(0,n):
    x=input()
    numbers.append(x)
m=[]
m=numbers[:-1]
if m==n:
    print("true")
else:
    print("false")

5
1
2
3
2
1
false

In [5]:
list1=["Rob","Van","Dam"]
list1.insert(5,12)
print(list1)

['Rob', 'Van', 'Dam', 12]

In [6]:
values = [[3, 4, 5, 1], [33, 6, 1, 2]]
 
v = values[0][0]
for i in values:
    for element in i:
        if v > element:
            v = element
 
print(v)

1

In [7]:
list1=[1,3,5,2,4,6,2]
list1.remove(2)
print(sum(list1))

21

In [8]:
list("a#b#c#d".split('#'))

['a', 'b', 'c', 'd']

In [10]:
A=[1,3,2]
A*2

[1, 3, 2, 1, 3, 2]

In [11]:
names1 = ['Amir', 'Bala', 'Charlie']
names2 = [name.lower() for name in names1]
 
print(names2[2][0])

c

In [2]:
list1=["Python","Java","c","C","C++"]

print(min(list1))

C

In [5]:
m = [[x, x + 1, x + 2] for x in range(0, 3)]
print(m)

[[0, 1, 2], [1, 2, 3], [2, 3, 4]]

In [6]:
numbers = [1, 2, 3, 4]
numbers.append([5,6,7,8])
print(len(numbers))

5

In [7]:
names1 = ['Amir', 'Bala', 'Charlie']
names2 = [name.lower() for name in names1]
print(names2[2][0])

c

In [8]:
values = [[3, 4, 5, 1], [33, 6, 1, 2]]
 
v = values[0][0]
for row in range(0, len(values)):
    for column in range(0, len(values[row])):
        if v < values[row][column]:
            v = values[row][column]
 
print(v)

33

In [9]:
points = [[1, 2], [3, 1.5], [0.5, 0.5]]
points.sort()
print(points)

[[0.5, 0.5], [1, 2], [3, 1.5]]

In [13]:
list1=[6,23,3,2,0,9,8,75]
print(list1[1:8:2])

[23, 2, 9, 75]

In [14]:
data = [[[1, 2], [3, 4]], [[5, 6], [7, 8]]]
print(data[1][0][0])

5

In [15]:
list1 = [1, 3]
list2 = list1
list1[0] = 4
print(list2)

[4, 3]

In [16]:
names1 = ['Amir', 'Bala', 'Chales']
if 'amir' in names1:
    print(1)
else:
    print(2)

2

# Reverse a list

In [1]:
l1=[]
l2=[]
for i in range(10):
    l1.append(input())
print(l1)
l1.reverse()
l2=l1.copy()
print(l2)

1
2
3
4
5
['1', '2', '3', '4', '5']
['5', '4', '3', '2', '1']

# 48632 to 462632

In [1]:
n=int(input("Enter length of list: "))
L1=[]
for i in range(n):
    L1.append(int(input()))
print(L1)
L2=L1.copy()
L1.sort()
first=L1[-1]
second=L1[-2]
third=first-second
m=L2.index(first)
del L2[m]
L2.insert(m,second)
L2.insert(m+1,third)
print(L2)

Enter length of list: 5
4
8
6
3
2
[4, 8, 6, 3, 2]
[4, 6, 2, 6, 3, 2]

In [19]:
n=int(input())
t=n
s=0
while(n>0):
    a=n%10
    n=n//10
    s+=a
if t%s == 0:
    print("True")
else:
    print("False")

12
True

In [11]:
n=int(input())
for i in range (0,n):
    for j in range (1,i+1):
        print(".",end= "")
    print("*")

5
*
.*
..*
...*
....*

In [22]:
n=int(input())
m=int(input())
n = list(map(int, input.split(',')))
t=n
s=1
while(n>0):
    a=n%10
    n=n//10
    s*=a
s*=t
if m==s:
    print("True")
else:
    print("False")

121
375
False

In [24]:
def check(l):
    val=l[0]
    temp=str(l[0])
    for i in range(len(temp)):
        val*=(int(temp[i]))
    if(val==l[1]):
        return 1
    else:
        return 0

a=input()
l=a.split(',')
l[0]=int(l[0])
l[1]=int(l[1])
checker=check(l)
if(checker):
    print("True")
else:
    print("False")

121,375
False

In [4]:
n = int(input())
integer_list = list(map(int, input("enter:").strip().split()))[:n]
t=tuple(integer_list)
print(hash(t))

4
enter:5
176115681

In [9]:
t = (1, 2, 3,8,9,0,45,8) 
print(hash(t))

-1452877601

In [10]:
d1 = {"john":40, "peter":45}
d2 = {"john":466, "peter":45}
d1 > d2

TypeError: '>' not supported between instances of 'dict' and 'dict'

In [11]:
a={1:"A",2:"B",3:"C"}
b=a.copy()
b[2]="D"
print(a)

{1: 'A', 2: 'B', 3: 'C'}

In [12]:
nums = set([1,1,2,3,3,3,4,4])
print(len(nums))

4

In [13]:
d = {"john":40, "peter":45}
print(list(d.keys()))

['john', 'peter']

In [14]:
d = {"john":40, "peter":45}
"john" in d

True

In [15]:
a={1:"A",2:"B",3:"C"}
for i,j in a.items():
    print(i,j,end=" ")

1 A 2 B 3 C

In [16]:
a=frozenset([5,6,7])
a
a.add(5)

AttributeError: 'frozenset' object has no attribute 'add'

In [23]:
d = {'john':40, 'peter':45}
del d['john']
#d.delete(“john”:40)
d

{'peter': 45}

In [4]:
def factor(n):
    for i in range(1,n+1):
        if n%i==0:
            print(i,end=" ")
num=int(input("enter a number:"))
factor(num)

enter a number:100
1 2 4 5 10 20 25 50 100